body{
	background:#5399a2;
}
div{
    width:600px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    padding: 50px;
}
img{
	max-width:100%;
}
h1{
    font-size: 40px;
    margin-top: 0px;
}
span{
	color: #42a4b1;
    text-transform: uppercase;
    text-shadow: 5px 0px 8px #d4c5c5;
}
p{
	font-size: 25px;
    color:#1c6b75f7 ;
    line-height: 1.2;
}